In [1]:
2 + 2

4

# Clase de Varibles

In [2]:
caja = "Esau Garcia"

In [3]:
print(caja)

Esau Garcia

In [6]:
edad = 23
edad

23

# Cosideraciones de Variables (Cosas que no se deben hacer en variables)

In [7]:
1variable = 234 #NO SE PUEDE COMENZAR CON NUMEROS

SyntaxError: invalid decimal literal (1455066049.py, line 1)

In [8]:
my-nomb =  "Esau Garcia " #NO SE PUEDEN AGREGAR SIGNOS MEDIOS

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2292554568.py, line 1)

In [11]:
True = 23  #True es un dato BOOLEANO, no se pueden usar sintaxis para variable

SyntaxError: cannot assign to True (3783775348.py, line 1)

# Tipos de Datos Python

# Type sirve para saber el tipo de dato que estamos usando

In [13]:
entero = 34   

type (entero)

int

In [15]:
caracteres = "Hola Mundo"

type (caracteres)

str

In [16]:
flotantes = 13.434

type(flotantes)

float

In [17]:
# Lo que este en comilla se concidera como un String

In [18]:
booleanos = True     #Para ser un Booleano debe estar escrita con mayusculas en la primera letra, dde lo contrario seria una variable 

type(booleanos)

bool

In [19]:
complejo = 4 + 5j   #los imaginarios se denotan con la letra "j"


type(complejo)

complex

# Operaciones entre Variables

In [20]:
numero_1 = 4
numero_2 = 3
numero_3 = 2

print(numero_1 + numero_2 + numero_3)

9

In [21]:
print ( numero_3 - numero_1 - numero_2)

-5

In [29]:
print(numero_2 / numero_3) # / da como resultado float    #Division

print(numero_2 // numero_3) # // da como resultado ints

type(numero_2 / numero_3)
type(numero_2 // numero_3)

1.5
1

int

In [25]:
print(numero_2 % numero_3)    #Residuo 

type(numero_2 % numero_3)

1

int

In [31]:
num1 = 44   #Multiplicacion
num2 = 2

print(num1 * num2)

type(num1 * num2)

88

int

In [32]:
exp1 = 3   #Potencia 
exp2 = 3


print (exp1 ** exp2)

27

# Operaciones de Asignacion

In [33]:
mi_edad = 23
mi_edad = mi_edad + 1 

print ("Mi edad el proximo año sera : ", mi_edad )

Mi edad el proximo año sera :  24

In [34]:
mi_edad = 23
mi_edad += 1

print("Mi edad sera ", mi_edad)

Mi edad sera  24

# Operaciones Relacionales

In [35]:
20 == 19.9999999

False

In [36]:
20 != 19.9999999

True

In [37]:
20 < 19.99999 #Menor

False

In [38]:
20 > 19.9999999999  #Mayor

True

In [39]:
sujero = "Me gusta "    #Concatenacion 
sujeto2 = "Mayelli "
sjeto3 = "Mucho"
sujero + sujeto2 + sjeto3

'Me gusta Mayelli Mucho'

# Conversion de tipos de Datos

In [40]:
a = "5"
type(a)

str

In [41]:
int(a)

5

In [42]:
type(a)   #Se queda como tipo string por que la varible no se reescribio

str

In [45]:
b = int(a)  # Aca se rescribio la vaiable en "b"

type(b)

int

In [46]:
bb = "2"
int(bb)

2

In [47]:
bbb = "Holamundo"
int(bbb)

ValueError: invalid literal for int() with base 10: 'Holamundo'

In [48]:
e = str(345)
print(e)
print(type(e))

345
<class 'str'>